{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "defineProps": "readonly",
        "defineEmits": "readonly",
        "withDefaults": "readonly"
    },
    "plugins": [
        "prettier"
    ],
    "extends": [
        "@vue/typescript/recommended",
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "prettier"
    ],
    "rules": {
        "vue/require-default-prop": "off"
    }
}