<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script>
      (() => {
        const application = Stimulus.Application.start()

        const remoteEndpoints= {
          home: 'http://localhost:5000',
          csvuploader: 'http://localhost:3000/csvuploader',
          csvviewer: 'http://localhost:3000/csvviewer',
          entryform: 'http://localhost:4000/entryform',
          entryview: 'http://localhost:4000/entryview'
        }
  
        application.register("showpage", class extends Stimulus.Controller {
          static get targets() {
            return [ "show" ]
          }

          initialize() {
            this.loadPage('home')
          }

          loadPage(target) {
            fetch(remoteEndpoints[target])
              .then(resp => resp.text())
              .then(html => {
                this.showTargets[0].innerHTML = html
              })
          }

          showHome() {
            this.loadPage('home')
          }

          showCSVUploder() {
            this.loadPage('csvuploader')
          }

          showCSVViewer() {
            this.loadPage('csvviewer')
          }

          showEntryForm() {
            this.loadPage('entryform')
          }

          showEntryViewer() {
            this.loadPage('entryview')
          }
        })
      })()
    </script>
    <style>
      .page {
        display: block;
      }
      .page.page--current {
        display: block;
      }
    </style>
  </head>
  <body>
    <div data-controller="showpage">
      <nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="title">Datapen</h1>
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" data-action="showpage#showHome">
              Home
            </a>
      
            <a class="navbar-item" data-action="showpage#showCSVUploder">
              CSV Uploader
            </a>

            <a class="navbar-item" data-action="showpage#showCSVViewer">
              CSV Viewer
            </a>
      
            <a class="navbar-item" data-action="showpage#showEntryForm">
              Entry Form
            </a>

            <a class="navbar-item" data-action="showpage#showEntryViewer">
                Entry Viewer
            </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Github</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- Load  -->
      <div class="container">
        <div class="columns is-mobile is-centered">
          <div class="column is-three-quarters-desktop">
            <div data-target="showpage.show" class="page">🐵</div>
          </div> 
        </div>
      </div>
    </div>
  </body>
</html>